Hello and welcome to the pre-processing segment of my project. One quick thing to note is that there is not that much for me to do during this process as many of the steps that could be done were already completed on the inital dataset or were completed when I was working on my wrangling segment as I did them early. So besides making sure that the features I have are what I need I will basically be using this part of the project to sperate my dataset into train and test splits, so this shouldn't be all too long.

In [1]:
#First Run Imports (I only really need pandas and the train test split, but I'll get numpy just in case)
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [4]:
#And now set the cleaned dataset to df so that I can make the changes to it.
df = pd.read_csv('data/bikes_prepped.csv')
#And because I forgot to not save the index col, drop it
df = df.iloc[: , 1:]
df.head()

,holiday,workingday,temp,atemp,hum,windspeed,cnt,date,season_Spring,season_Summer,...,hr_23,weekday_Monday,weekday_Saturday,weekday_Sunday,weekday_Thursday,weekday_Tuesday,weekday_Wednesday,weathersit_Best,weathersit_Okay,weathersit_Worst
0,0,0,0.24,0.2879,0.81,0.0,16,2011-01-01,0,0,...,0,0,1,0,0,0,0,1,0,0
1,0,0,0.22,0.2727,0.80,0.0,40,2011-01-01,0,0,...,0,0,1,0,0,0,0,1,0,0
2,0,0,0.22,0.2727,0.80,0.0,32,2011-01-01,0,0,...,0,0,1,0,0,0,0,1,0,0
3,0,0,0.24,0.2879,0.75,0.0,13,2011-01-01,0,0,...,0,0,1,0,0,0,0,1,0,0
4,0,0,0.24,0.2879,0.75,0.0,1,2011-01-01,0,0,...,0,0,1,0,0,0,0,1,0,0

In [12]:
#A quick check of the columns
print(df.columns)

Index(['holiday', 'workingday', 'temp', 'atemp', 'hum', 'windspeed', 'cnt',
       'season_Spring', 'season_Summer', 'season_Winter', 'hr_1', 'hr_2',
       'hr_3', 'hr_4', 'hr_5', 'hr_6', 'hr_7', 'hr_8', 'hr_9', 'hr_10',
       'hr_11', 'hr_12', 'hr_13', 'hr_14', 'hr_15', 'hr_16', 'hr_17', 'hr_18',
       'hr_19', 'hr_20', 'hr_21', 'hr_22', 'hr_23', 'weekday_Monday',
       'weekday_Saturday', 'weekday_Sunday', 'weekday_Thursday',
       'weekday_Tuesday', 'weekday_Wednesday', 'weathersit_Best',
       'weathersit_Okay', 'weathersit_Worst'],
      dtype='object')

In [7]:
#As the purpose of this project is to have an model look at the weather factors and change the price according to that, I'll
#go ahead and drop the date column now.
df.drop(columns = 'date', inplace = True)

In [10]:
df.head()

,holiday,workingday,temp,atemp,hum,windspeed,cnt,season_Spring,season_Summer,season_Winter,...,hr_23,weekday_Monday,weekday_Saturday,weekday_Sunday,weekday_Thursday,weekday_Tuesday,weekday_Wednesday,weathersit_Best,weathersit_Okay,weathersit_Worst
0,0,0,0.24,0.2879,0.81,0.0,16,0,0,1,...,0,0,1,0,0,0,0,1,0,0
1,0,0,0.22,0.2727,0.80,0.0,40,0,0,1,...,0,0,1,0,0,0,0,1,0,0
2,0,0,0.22,0.2727,0.80,0.0,32,0,0,1,...,0,0,1,0,0,0,0,1,0,0
3,0,0,0.24,0.2879,0.75,0.0,13,0,0,1,...,0,0,1,0,0,0,0,1,0,0
4,0,0,0.24,0.2879,0.75,0.0,1,0,0,1,...,0,0,1,0,0,0,0,1,0,0

In [13]:
#And things are already looking pretty good for me. I have 4 features that are normalized on a scale from 0-1 (they were 
#initally) and 37 categorical features. Now I just need to seperate this out into X and y features and then seperate into 
#training and testing sets.
X = df.drop(columns = 'cnt', axis = 1)
y = df[['cnt']]
#I'll do a 25-75% split and my usual random state I go to for repeatability is 42.
X_tr, X_te, y_tr, y_te = train_test_split(X, y, test_size = 0.25, random_state = 42)

In [14]:
print(len(X_tr), len(X_te))
print(len(y_tr), len(y_te))

13034 4345
13034 4345

In [16]:
#I may reduce test size if needed later, but I feel like thats a pretty good split as it stands. Now lets take a peek at
#the training rows to make sure I didn't mess anything up.
X_tr

,holiday,workingday,temp,atemp,hum,windspeed,season_Spring,season_Summer,season_Winter,hr_1,...,hr_23,weekday_Monday,weekday_Saturday,weekday_Sunday,weekday_Thursday,weekday_Tuesday,weekday_Wednesday,weathersit_Best,weathersit_Okay,weathersit_Worst
1945,0,0,0.28,0.2727,0.45,0.2537,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
13426,0,1,0.92,0.8485,0.35,0.3582,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
12898,0,1,0.72,0.6515,0.28,0.4627,0,1,0,0,...,0,0,0,0,0,1,0,1,0,0
2570,0,1,0.36,0.3485,0.62,0.1940,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
10764,0,1,0.52,0.5000,0.39,0.3582,1,0,0,0,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,0,1,0.46,0.4545,0.88,0.0896,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11964,0,1,0.66,0.6212,0.34,0.1343,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5390,0,1,0.80,0.7273,0.43,0.2836,0,1,0,0,...,0,0,0,0,0,0,1,1,0,0
860,0,1,0.24,0.1970,0.65,0.4179,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
15795,0,1,0.52,0.5000,0.83,0.1642,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [17]:
y_tr

       cnt
1945    85
13426  194
12898  317
2570    33
10764  307
...    ...
11284  359
11964  812
5390   189
860    100
15795  779

[13034 rows x 1 columns]

In [18]:
#Alright, everything looks ready for modeling. Like I said, most of what was needed done had already been done. Now time 
#to export my training and testing files for the modeling (without forgetting the index = False argument this time).
X_tr.to_csv('data/X_train.csv', index = False)
X_te.to_csv('data/X_test.csv', index = False)
y_tr.to_csv('data/y_train.csv', index = False)
y_te.to_csv('data/y_test.csv', index = False)